.logo {
  display: flex;
  font-family: "Bungee";
  justify-content: center;
  align-items: center;
 }

 .addTweet {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
 }

 i {
  color: #967AA1;
 }

.fas.fa-angle-double-down {
  color: #AAA1c8;
}

.compose {
  background: none;
  color: white;
}